//- ------------------------------------------------
//- Old IEs warning
//- http://jsbin.com/eMoliPa/latest/edit
//- ------------------------------------------------
mixin dpsn_oldies(_lt, _message, _class)
	- var _lt = _lt || 8
	- var _message = _message || 'You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.'
	- var _class = _class || 'm-dopamine m-dopamine-oldies'
	case _lt
		when 9
			<!--[if lt IE 9]>
			p(class=_class)!= _message

		when 8
			<!--[if lt IE 8]>
			p(class=_class)!= _message

		when 7
			<!--[if lt IE 7]>
			p(class=_class)!= _message
	<![endif]-->


mixin dpsn_google_analytics(_UA)
	// Google Analytics
	script.
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','#{_UA}');ga('send','pageview');
